*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
height: 100vh;
width: 100vw;
 font-family: 'Inter', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}


.left, .right{
    flex: 1;
}


.left{
    background-color: #E27D60;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
   
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}

span{
    font-size: 30px;
    color: #1E1E1E;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
   
}

input[type=email]{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background-color: #FED8AC;
    border: none;
    border-radius: 10px;
}

input[type=email]::placeholder{
    color: #1E1E1E;
    text-align: center;
}

input[type=password]{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background-color: #FED8AC;
    border: none;
    border-radius: 10px;
}

input[type=password]::placeholder{
    color: #1E1E1E;
    text-align: center;
}

.remember{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-top: 20px;
    padding: 0.5rem;
}

.remember label{
    margin-right: 200px;
    font-size: 14px;
}

button{
   margin-top: 20px;
    height: 50px;
    width: 50%;
    cursor: pointer;
    background-color: #E88A70;
    border: none;
    border-radius: 10px;
    color:  #fff;
    font-weight: bold;
}

.registro{
    padding: 3rem;
}

a{
    text-decoration: none;
    color: #1888B8;
}

button:hover{
    background-color: #cd7259;
    transition: 0.5s;
}